{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="container">
	<h1 class="my-5"><i class="far fa-edit"></i> Modification du mot de passe :</h1>
	
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary"><i class="far fa-check-circle"></i> Modifier le mot de passe</button>
	{{ form_end(form) }}
	
</div>
{% endblock %}