{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="jumbotron">
      	  <h1 class="display-3">Bienvenue sur Allo 7rayfi !</h1>
          <p class="lead">la première plateforme pour les artisans au Maroc</p>
          <hr class="my-4">
          <p>Satisfait ou remboursé</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
          </p>
        </div>
        
        <h2>Nos Artisans du mois </h2>
        
        <div class="row mt-5">
        	<div class="col-md-4">
        		<div class="card bg-light mb-3">
        			<div class="card-header text-center">
        				Samir Karim <strong>plombier</strong> <br>
        				<small>pas encore noté</small>
        			</div>
        			<img alt="image de l'artisan" src="http://placehold.it/1000x400" style="height: 200px; width: 100%; display: block">
        			<div class="card-body">
        				<h4 class="card-title">
        					Artisan du mois
        				</h4>
        				<p class="card-text">
        					professionnalisme, ponctualité et honnêteté
        				</p>
        				<a href="#" class="btn btn-secondary">Voir le Profile</a>
        			</div>
        		</div>
        	</div>
        	
        	<div class="col-md-4">
        		<div class="card bg-light mb-3">
        			<div class="card-header text-center">
        				Samir Karim <strong>plombier</strong> <br>
        				<small>pas encore noté</small>
        			</div>
        			<img alt="image de l'artisan" src="http://placehold.it/1000x400" style="height: 200px; width: 100%; display: block">
        			<div class="card-body">
        				<h4 class="card-title">
        					Artisan du mois
        				</h4>
        				<p class="card-text">
        					professionnalisme, ponctualité et honnêteté
        				</p>
        				<a href="#" class="btn btn-secondary">Voir le Profile</a>
        			</div>
        		</div>
        	</div>
        	
        	<div class="col-md-4">
        		<div class="card bg-light mb-3">
        			<div class="card-header text-center">
        				Samir Karim <strong>plombier</strong> <br>
        				<small>pas encore noté</small>
        			</div>
        			<img alt="image de l'artisan" src="http://placehold.it/1000x400" style="height: 200px; width: 100%; display: block">
        			<div class="card-body">
        				<h4 class="card-title">
        					Artisan du mois
        				</h4>
        				<p class="card-text">
        					professionnalisme, ponctualité et honnêteté
        				</p>
        				<a href="#" class="btn btn-secondary">Voir le Profile</a>
        			</div>
        		</div>
        	</div>
        </div>
	</div>
{% endblock %}
