div.container{
	margin-top: 20px;
}
div.annonce-title{
	padding: 2em;
	background-size: cover;
	background-position: center center;
}
div.annonce-title h1, div.annonce-title p{
	color: white;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);	
}